.inputWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.inputField {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  font-size: 1rem;
}

.iconButton {
  position: absolute;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
